
smtp_proj/client/obj/

smtp_proj/client/smtp_client
smtp_proj/client/smtp_client
smtp_proj/common/src/log.o
smtp_proj/maildir/out/mailru/mgs_10.12.2017.log
smtp_proj/common/src/string_utils.o
smtp_proj/common/src/dir_utils.o
smtp_proj/common/src/log.o
